---
import ChatLayout from '../layouts/ChatLayout.astro';
import '../styles/chat.css';
---

<ChatLayout title="Cádiz Plus | Asistente de Movilidad">
    
    <!-- El contenedor de mensajes está vacío inicialmente, se llena con JS -->
    <div id="chat-messages-container" style="display: contents;">
        <!-- Los mensajes se inyectarán aquí -->
    </div>

</ChatLayout>



<script src="../scripts/chat-client.ts"></script>
