---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Ventajas from '../components/Ventajas.astro';
import Tarifas from '../components/Tarifas.astro';
import Destinos from '../components/Destinos.astro';
import MapaParadas from '../components/MapaParadas.astro';
import Calculadora from '../components/Calculadora.astro';
import Reserva from '../components/Reserva.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
import SearchModal from '../components/SearchModal.astro';
---

<Layout>
    <dotlottie-player src="/lottie/background.json" background="transparent" speed="1" style="position: fixed; bottom: -20px; left: 0; width: 100vw; z-index: -10; opacity: 0.15; pointer-events: none;" loop autoplay></dotlottie-player>
    <Header />
    <main>
        <Hero />
        <Ventajas />
        <Tarifas />
        <MapaParadas />
        <Destinos />
        <Calculadora />
        <Reserva />
        <FAQ />
    </main>
    <Footer />
    <SearchModal />
</Layout>
